<div class="col-md-2" th:if="${setup.selectedUser != null || setup.selectedGroup != null}"
     th:fragment="chatProfile(setup)">
    <div class="row mt-2">
        <div class="col-md-12 d-flex flex-column justify-content-center align-items-center mt-5"
             th:if="${setup.area.name().equals('PEOPLE')}">
            <img th:src="@{/picture/user/{pic}(pic=${setup.selectedUser.picture})}"
                 th:alt="${setup.selectedUser.lastname}"
                 class="icon-lg"/>
            <p th:style="'color:'+${setup.selectedUser.getTextColor()}+'!important;'" class="mb-0">
                <span class="fs-3" th:text="${setup.selectedUser.firstname}"></span>&nbsp;
                <span class="fs-3" th:text="${setup.selectedUser.lastname}"></span>
            </p>
            <p th:text="${setup.selectedUser.getEmail()}" class="mt-2"></p>
        </div>
        <div class="col-md-12 d-flex flex-column justify-content-center align-items-center mt-5"
             th:if="${setup.area.name().equals('GROUP')}">
            <img th:src="@{/picture/group/{pic}(pic=${setup.selectedGroup.picture})}"
                 th:alt="${setup.selectedGroup.name}"
                 class="icon-lg"/>
            <p th:style="'color:'+${setup.selectedUser.getTextColor()}+'!important;'"
               class="mb-0 d-flex align-items-center">
                <span class="fs-3 me-1" th:text="${setup.selectedGroup.name}"></span>&nbsp;
                <img alt="edit" th:src="@{'/icons/edit.svg'}" data-bs-toggle="modal"
                     data-bs-target="#updateGroupModal"/>
            </p>
            <p class="text-light-dark m-0 d-flex">
                <span th:text="${setup.selectedGroup.members.size()}" class="me-1"></span>
                <span th:text="${setup.selectedGroup.members.size() > 1 ? 'Members' : 'Member'}"></span>
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="accordion accordion-flush" id="usersChatActionsAccordion"
                 th:if="${setup.area.name().equals('PEOPLE')}">
                <div class="accordion-item chat_area_bg">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed chat_area_bg" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Chat Actions
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse chat_area_bg"
                         data-bs-parent="#usersChatActionsAccordion">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item chat_bg">
                                    <a th:href="@{'/chat/user/'+${setup.user.getEmail()}+'/toUser/'+${setup.selectedUser.getEmail()}+'?selectedUser='+${setup.selectedUser.getId()}}"
                                       class="text-decoration-none text-light d-flex align-items-center">
                                        <img th:src="@{/icons/x-circle.svg}" alt="remove chats" class="me-1"/>
                                        Delete All Chat with &nbsp;
                                        <span th:text="${setup.selectedUser.getLastname()}"></span></a>
                                </li>
                                <li class="list-group-item chat_bg mt-1">
                                    <a href="#" class="text-decoration-none text-light d-flex align-items-center">
                                        <img th:src="@{/icons/person-x-fill.svg}" alt="remove connection" class="me-1"/>
                                        Remove Connection
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:if="${setup.area.name().equals('GROUP')}">
                <div class="accordion accordion-flush my-1" id="groupChatMembersAccordion">
                    <div class="accordion-item chat_area_bg">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed chat_area_bg" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Members
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse chat_area_bg"
                             data-bs-parent="#groupChatMembersAccordion">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item my-1 chat_bg d-flex justify-content-between align-items-center"
                                        th:each="member : ${setup.selectedGroup.members}">
                                        <div class="d-flex align-items-center">
                                            <img th:src="@{/picture/user/{pic}(pic=${member.user.picture})}"
                                                 th:alt="${setup.selectedGroup.name}"
                                                 class="icon-sm me-1"/>
                                            <div class="d-flex flex-column">
                                                <p th:style="'color:'+${member.user.getTextColor()}+'!important;'"
                                                   class="mb-0">
                                                    <span th:text="${member.user.firstname}"></span>&nbsp;
                                                    <span th:text="${member.user.lastname}"></span>&nbsp;
                                                </p>
                                                <span class="text-light-dark fs-7">
                                                    <th:block th:if="${member.addedBy != null}">
                                                        <span>
                                                            Added by <span th:text="${member.addedBy.firstname}"></span>&nbsp;
                                                            <span th:text="${member.addedBy.lastname}"></span>
                                                        </span>
                                                        <span> | </span>
                                                    </th:block>
                                                    <small th:text="${member.role}"></small>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle d-flex justify-content-between align-items-center"
                                                    type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                <img alt="three dots" th:src="@{/icons/three-dots.svg}"/>
                                            </button>
                                            <ul class="dropdown-menu chat_bg">
                                                <li th:if="${(setup.userMembershipInSelectedGroup.role.name().equals('OWNER') && !member.role.name().equals('OWNER')) ||
                                                setup.userMembershipInSelectedGroup.role.name().equals('ADMIN') && (!member.role.name().equals('OWNER') && !member.role.name().equals('ADMIN'))}">
                                                    <a class="dropdown-item chat_bg d-flex align-items-center hover_chat_bg"
                                                       th:href="@{'/group/remove/'+${setup.selectedGroup.id}+'/'+${member.user.id}}">
                                                        <img alt="x" th:src="@{/icons/x-circle.svg}" class="me-1"/>
                                                        Remove
                                                    </a>
                                                </li>
                                                <li
                                                        th:if="${setup.userMembershipInSelectedGroup.role.name().equals('OWNER') &&
                                                         !member.role.name().equals('OWNER')}"
                                                >
                                                    <a class="dropdown-item chat_bg d-flex align-items-center hover_chat_bg"
                                                       th:href="@{'/group/admin/'+${setup.selectedGroup.id}+'/'+${member.user.id}+'/true'}"
                                                       th:if="${!member.role.name().equals('OWNER') && !member.role.name().equals('ADMIN')}"
                                                    >
                                                        <img
                                                                alt="x"
                                                                th:src="@{/icons/person-up.svg}"
                                                                class="me-1"
                                                        />

                                                        <span>Make Admin</span>
                                                    </a>
                                                    <a class="dropdown-item chat_bg d-flex align-items-center hover_chat_bg"
                                                       th:href="@{'/group/admin/'+${setup.selectedGroup.id}+'/'+${member.user.id}+'/false'}"
                                                       th:if="${member.role.name().equals('ADMIN')}"
                                                    >
                                                        <img
                                                                alt="x"
                                                                th:src="@{/icons/person-down.svg}"
                                                                class="me-1"
                                                        />
                                                        <span>Remove as Admin</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li
                                            class="list-group-item chat_bg"
                                            th:if="${setup.userMembershipInSelectedGroup.role.name().equals('OWNER') ||
                                             setup.userMembershipInSelectedGroup.role.name().equals('ADMIN')}"
                                    >
                                        <a
                                                data-bs-toggle="offcanvas"
                                                href="#addUserCanvas"
                                                role="button"
                                                aria-controls="addUserCanvas"
                                                class="text-light-dark text-decoration-none d-flex align-items-center"
                                        >
                                            <img th:src="@{'/icons/person-add.svg'}" alt="plus member" class="me-1"/>
                                            Add Member
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush" id="groupChatActionsAccordion">
                    <div class="accordion-item chat_area_bg">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed chat_area_bg" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Group Actions
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse chat_area_bg"
                             data-bs-parent="#groupChatActionsAccordion">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <li
                                            class="list-group-item chat_bg my-1"
                                            th:if="${setup.userMembershipInSelectedGroup.role.name().equals('OWNER')}"
                                    >
                                        <a
                                                th:href="@{'/group/close/'+${setup.selectedGroup.id}}"
                                                class="text-light text-decoration-none d-flex align-items-center">
                                            <img alt="x-circle" th:src="@{'/icons/x-circle.svg'}" class="me-1"/> Close
                                            this group
                                        </a>
                                    </li>
                                    <li
                                            class="list-group-item chat_bg"
                                            th:if="${setup.userMembershipInSelectedGroup.role.name().equals('OWNER') ||
                                            setup.userMembershipInSelectedGroup.role.name().equals('ADMIN')}"
                                    >
                                        <a
                                                th:href="@{'/group/clear-message/'+${setup.selectedGroup.id}}"
                                                class="text-light text-decoration-none d-flex align-items-center">
                                            <img alt="x-circle" th:src="@{'/icons/delete-message.svg'}" class="me-1"/> Clear
                                            all Chat
                                        </a>
                                    </li>
                                    <li
                                            class="list-group-item chat_bg my-1"
                                            th:if="${!setup.userMembershipInSelectedGroup.role.name().equals('OWNER')}"
                                    >
                                        <a
                                                th:href="@{'/group/leave/'+${setup.selectedGroup.id}}"
                                                class="text-light text-decoration-none d-flex align-items-center">
                                            <img alt="x-circle" th:src="@{'/icons/x-circle.svg'}" class="me-1"/> Leave
                                            this group
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>