<div class="col-md-8 h-100 overflow-auto d-flex flex-column justify-content-center align-items-center border-right-2"
     th:if="${setup.selectedUser != null || setup.selectedGroup != null}" th:fragment="chatArea(setup)">
    <div class="d-flex align-items-center p-2 w-100">

        <!--    Chat Area Image Starts    -->
        <img th:src="@{/picture/user/{pic}(pic=${setup.selectedUser.picture})}"
             th:alt="${setup.selectedUser.lastname}"
             class="icon-md" th:if="${setup.area.name().equals('PEOPLE')}"/>&nbsp;
        <img th:src="@{/picture/group/{pic}(pic=${setup.selectedGroup.picture})}"
             th:alt="${setup.selectedGroup.name}"
             class="icon-md" th:if="${setup.area.name().equals('GROUP')}"/>&nbsp;
        <!--    Chat Area Image Ends    -->

        <!--    Chat Area Name and Date Starts    -->
        <div class="d-flex flex-column ms-1">
            <th:block th:if="${setup.area.name().equals('GROUP')}">
                <div>
                    <span class="fs-4" th:text="${setup.selectedGroup.name}"></span>
                </div>
                <p class="text-light-dark m-0">
                    <span th:text="${setup.selectedGroup.members.size()}"></span>
                    <span th:text="${setup.selectedGroup.members.size() > 1 ? 'Members' : 'Member'}"></span>
                </p>
            </th:block>
            <th:block th:if="${setup.area.name().equals('PEOPLE')}">
                <div>
                    <span class="fs-4" th:text="${setup.selectedUser.firstname}"></span>&nbsp;
                    <span class="fs-4" th:text="${setup.selectedUser.lastname}"></span>
                </div>
                <span
                        class="text-light-dark"
                        th:if="${(setup.selectedUser.status == null || setup.selectedUser.status.name().equals('OFFLINE'))}"
                        th:text="${setup.selectedUser.lastSeenText}">
                </span>
                <span
                        class="text-primary"
                        th:if="${setup.selectedUser.status != null && setup.selectedUser.status.name().equals('ONLINE')}"
                        th:text="${setup.selectedUser.status}">
                </span>
            </th:block>
        </div>
        <!--    Chat Area Name and Date Ends    -->
    </div>

    <div class="flex-grow-1 p-3 chat_area_bg overflow-auto border-1 w-100" id="chatArea">
        <!-- Existing chat messages (initial messages) -->
        <div class="my-1 d-flex chat-wrapper" th:each="chat : ${setup.initialChat}"
             th:attr="data-id=${chat.id}" th:if="${setup.area.name().equals('PEOPLE')}">

            <img th:src="@{'/picture/user/'+${chat.user.picture}}" alt="" class="icon-sm"/>
            <div class="ms-1 d-flex flex-column chat">
                <div class="d-flex justify-content-between">
                    <div>
                                <span class="fw-bold chat_area_color fs-6" th:text="${chat.user.lastname}"
                                      th:style="'color:'+${chat.user.textColor}+'!important;'"></span>
                    </div>
                    <div class="dropdown">
                        <img th:src="@{/icons/three-dots.svg}" alt="send" class="dropdown-toggle"
                             data-bs-toggle="dropdown"
                             aria-expanded="false"/>

                        <ul class="dropdown-menu chat_bg">
                            <li
                                    class="dropdown-item remove_chat chat_bg d-flex align-items-center cursor_pointer"
                                    th:data-id="${chat.id}"
                            ><img th:src="@{/icons/x-circle.svg}" class="me-1" alt="x circle"/> Remove
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <span class="text-white" th:utext="${chat.message}"></span>
                    <img
                            th:if="${chat.filename != null && !chat.filename.isEmpty()}"
                            th:src="@{'/picture/message/'+${chat.filename}}"
                            width="190"
                            height="170"
                            class="img-fluid clickable-image"
                            alt="file"
                    />
                </div>
                <div class="d-flex justify-content-end">
                    <small th:text="${#temporals.format(chat.sendTime, 'MMM dd, HH:mm a')}"
                           class="text-light-dark"></small>
                </div>
            </div>
        </div>

        <div class="my-1 d-flex chat-wrapper" th:each="chat : ${setup.initialGroupChat}"
             th:attr="data-id=${chat.id}" th:if="${setup.area.name().equals('GROUP')}">

            <img th:src="@{'/picture/user/'+${chat.sender.user.picture}}" alt="" class="icon-sm"/>
            <div class="ms-1 d-flex flex-column chat">
                <div class="d-flex justify-content-between">
                    <div>
                                <span class="fw-bold chat_area_color fs-6" th:text="${chat.sender.user.lastname}"
                                      th:style="'color:'+${chat.sender.user.textColor}+'!important;'"></span>
                    </div>
                    <div class="dropdown">
                        <img th:src="@{/icons/three-dots.svg}" alt="send" class="dropdown-toggle"
                             data-bs-toggle="dropdown"
                             aria-expanded="false"/>

                        <ul class="dropdown-menu chat_bg">
                            <li
                                    class="dropdown-item remove_group_chat chat_bg d-flex align-items-center cursor_pointer"
                                    th:data-id="${chat.id}"
                                    th:if="${chat.sender.user.email.equals(setup.user.email)}"
                            >
                                <img th:src="@{/icons/x-circle.svg}" class="me-1" alt="x circle"/> Remove
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <span class="text-white" th:utext="${chat.message}"></span>
                    <img
                            th:if="${chat.filename != null && !chat.filename.isEmpty()}"
                            th:src="@{'/picture/group/message/'+${chat.filename}}"
                            width="190"
                            height="170"
                            class="img-fluid clickable-image"
                            alt="file"
                    />
                </div>
                <div class="d-flex justify-content-end">
                    <small th:text="${#temporals.format(chat.sendTime, 'MMM dd, HH:mm a')}"
                           class="text-light-dark"></small>
                </div>
            </div>
        </div>
    </div>

    <!--    Chat board Starts        -->
    <div class="p-3 w-100 d-flex align-items-center position-relative">
        <img
                th:src="@{/icons/file-image.svg}"
                alt="file image" class="me-1" width="20"
                height="20"
                data-bs-toggle="modal"
                data-bs-target="#sendMessageModal"
        />
        <button id="emojiPickerButton" class="bg-transparent border-0">😊</button>
        <div id="emojiPicker" class="chat_area_bg"
             style="display:none; position:absolute;
                bottom: 50px; /* Positions above the button */
                left: 20px;
                max-height:300px;
                max-width:400px;
                overflow-y:auto;
                z-index: 1000; /* Ensures it appears above other elements */
                margin-bottom: 5px; /* Adds small gap between picker and button */
                border-radius: 8px;
                padding: 10px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2);"
        >
        </div>
        <form class="d-flex flex-grow-1" id="chatForm">
            <input
                    type="text"
                    class="form-control chat_bg"
                    th:placeholder="'Say Something to '+${setup.area.name().equals('PEOPLE') ? setup.selectedUser.lastname : setup.selectedGroup.name}"
                    name="message" id="message" required
                    title="Markdown is supported"
            />
            <button class="btn chat_area_bg ms-1 text-light d-flex justify-content-center align-items-center"
                    type="button"
                    data-bs-toggle="modal" data-bs-target="#speechModal" onclick="startRecognition()">
                <img th:src="@{/icons/mic.svg}" alt="send"/>
            </button>
            <button class="btn chat_area_bg ms-1 text-light d-flex justify-content-center align-items-center"
                    type="submit">
                <img th:src="@{/icons/send.svg}" alt="send"/>
            </button>
        </form>
    </div>
    <!--    Chat board ends    -->
</div>