<div class="col-md-2" th:if="${setup.selectedUser != null}" th:fragment="chatProfile(setup)">
    <div class="row mt-2">
        <div class="col-md-12 d-flex flex-column justify-content-center align-items-center mt-5">
            <img th:src="@{/picture/user/{pic}(pic=${setup.selectedUser.picture})}"
                 th:alt="${setup.selectedUser.lastname}"
                 class="icon-lg"/>
            <p th:style="'color:'+${setup.selectedUser.getTextColor()}+'!important;'" class="mb-0">
                <span class="fs-3" th:text="${setup.selectedUser.firstname}"></span>&nbsp;
                <span class="fs-3" th:text="${setup.selectedUser.lastname}"></span>
            </p>
            <p th:text="${setup.selectedUser.getEmail()}" class="mt-2"></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="accordion accordion-flush" id="usersChatActionsAccordion">
                <div class="accordion-item chat_area_bg">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed chat_area_bg" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Chat Actions
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse chat_area_bg"
                         data-bs-parent="#usersChatActionsAccordion">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item chat_bg">
                                    <a th:href="@{'/chat/user/'+${setup.user.getEmail()}+'/toUser/'+${setup.selectedUser.getEmail()}+'?selectedUser='+${setup.selectedUser.getId()}}"
                                       class="text-decoration-none text-light d-flex align-items-center">
                                        <img th:src="@{/icons/x-circle.svg}" alt="remove chats" class="me-1"/>
                                        Delete All Chat with &nbsp;
                                        <span th:text="${setup.selectedUser.getLastname()}"></span></a>
                                </li>
                                <li class="list-group-item chat_bg mt-1">
                                    <a href="#" class="text-decoration-none text-light d-flex align-items-center">
                                        <img th:src="@{/icons/person-x-fill.svg}" alt="remove connection" class="me-1"/>
                                        Remove Connection
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>