<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{'/css/bootstrap-icons.min.css'}">
    <link rel="stylesheet" th:href="@{'/css/style.css'}">
    <link rel="icon" th:href="@{'/images/carrier-pigeon.png'}" type="image/png">
    <script th:src="@{'/js/bootstrap.bundle.min.js'}"></script>

    <link rel="manifest" th:href="@{/js/manifest.json}">
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/js/sw.js');
        }
    </script>
</head>