@font-face {
font-family: Overlock;
src: url('/fonts/Overlock-Regular.ttf') format("truetype");
font-weight: normal;
font-style: normal;
}

/* For webkit-based browsers */
::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: #4c4c6c; /* Remove background */
}

::-webkit-scrollbar-thumb {
    background-color: #989494; /* Scrollbar color */
    border-radius: 6px; /* Add rounded corners */
    border: 3px solid transparent; /* Create spacing around the bar */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4a4160; /* Slightly lighter shade on hover */
}

/* For other browsers (fallback if supported) */
.scroll-container {
    scrollbar-width: thin;
    scrollbar-color: #312a43 transparent; /* Bar color and transparent background */
}

body {
    font-family: 'Overlock', sans-serif !important;
    background: #d3cfcf !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.chat_bg{
    background-color: #48425c !important;
    color:white !important;
}

.chat{
    width:300px;
    padding:10px;
    border-radius: 4px;
    background-color: #48425c !important;
}

.chat_area_bg{
    background-color: #312a43 !important;
    color:white !important;
}

.dark_bg{
    background-color:#1e1e1e !important;
}

.list-group > li{
    border:none;
}