:root {
    --p-primary-color-2: #48425c;
    --p-secondary-color-2: #312a43;
    --p-primary-color: #2E3A46;
    --p-secondary-color: #0B1A2A;
    --p-primary-color-3: #b49168;
    --p-secondary-color-3: #a45824;
    --p-primary-color-1: #3B3F45;
    --p-secondary-color-1: #123032;
}

@font-face {
    font-family: Overlock;
    src: url('/fonts/Overlock-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* For webkit-based browsers */
::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: var(--p-secondary-color); /* Remove background */
}

::-webkit-scrollbar-thumb {
    background-color: #989494; /* Scrollbar color */
    border-radius: 6px; /* Add rounded corners */
    border: 3px solid transparent; /* Create spacing around the bar */
}


/* For other browsers (fallback if supported) */
.scroll-container {
    scrollbar-width: thin;
    scrollbar-color: var(--p-secondary-color) transparent; /* Bar color and transparent background */
}

body {
    font-family: 'Overlock', sans-serif !important;
    background: #d3cfcf !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.chat {
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--p-primary-color) !important;
}

.chat_area_color {
    color: var(--p-secondary-color) !important;
}

.chat_bg {
    background-color: var(--p-primary-color) !important;
    color: white !important;
}

.chat_area_bg {
    background-color: var(--p-secondary-color) !important;
    color: white !important;
}

.dark_bg {
    background-color: #1e1e1e !important;
}

.list-group > li {
    border: none;
}

.icon-sm {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.icon-md {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon-lg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.border-left-1 {
    border-left: 1px solid #333;
}

.border-right-1 {
    border-right: 1px solid #333;
}

.hidden {
    display: none;
}

.text-light-dark {
    color: rgba(153, 153, 153, .75);
}

.error_body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #9b59b6, #8e44ad);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.error-container h1 {
    font-size: 90px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.error-container a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    border: 2px solid #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-container a:hover {
    background-color: #3498db;
    color: white;
}

.icon {
    width: 100px;
    height: 100px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.remove_chat {
    cursor: pointer;
}

input::placeholder {
    color: #818181 !important;
    opacity: 1;
}

#chatArea {
    /*background-image: url("../images/bg.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: border-box;
    background-size: cover;
    box-shadow: rgb(0 0 0) 1px 0 3px 0 inset, rgb(2 2 2 / 50%) 1px 0 4px 0 inset;
    border: 1px solid #222;
}

.chat_menu {
    background-color: var(--p-primary-color) !important;
}

.chat_menu button,
.chat_menu a {
    color: white !important;
}

.chat_menu button:hover,
.chat_menu li:hover,
.chat_menu a:hover {
    background-color: var(--p-secondary-color) !important;
    color: white !important;
}

.remove_chat:hover {
    background-color: var(--p-secondary-color) !important;
}

.border_bottom {
    border: none;
    border-bottom: 1px solid var(--p-secondary-color);
}

#chatTab .nav-link.active {
    color: var(--p-secondary-color) !important;
}

.hover_chat_bg:hover {
    background-color: var(--p-secondary-color) !important;
    color: white !important;
}

.active_chat_bg:active {
    background-color: var(--p-secondary-color) !important;
    color: white !important;
}