@font-face {
    font-family: Overlock;
    src: url('/fonts/Overlock-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* For webkit-based browsers */
::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: #4c4c6c; /* Remove background */
}

::-webkit-scrollbar-thumb {
    background-color: #989494; /* Scrollbar color */
    border-radius: 6px; /* Add rounded corners */
    border: 3px solid transparent; /* Create spacing around the bar */
}

/* For other browsers (fallback if supported) */
.scroll-container {
    scrollbar-width: thin;
    scrollbar-color: #312a43 transparent; /* Bar color and transparent background */
}

body {
    font-family: 'Overlock', sans-serif !important;
    background: #d3cfcf !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.chat {
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    background-color: #48425c !important;
}

.chat_area_color {
    color: #312a43 !important;
}

.chat_bg {
    background-color: #48425c !important;
    color: white !important;
}

.chat_area_bg {
    background-color: #312a43 !important;
    color: white !important;
}

#chatList li:hover {
    background-color: #312a43 !important;
    color: white !important;
}

.dark_bg {
    background-color: #1e1e1e !important;
}

.list-group > li {
    border: none;
}

.icon-sm {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.icon-md {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon-lg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.border-left-1 {
    border-left: 1px solid #333;
}

.border-right-1 {
    border-right: 1px solid #333;
}

.hidden {
    display: none;
}

.text-light-dark {
    color: rgba(153, 153, 153, .75);
}

.error_body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #9b59b6, #8e44ad);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.error-container h1 {
    font-size: 90px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.error-container a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    border: 2px solid #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-container a:hover {
    background-color: #3498db;
    color: white;
}

.icon {
    width: 100px;
    height: 100px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.remove_chat {
    cursor: pointer;
}