<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head(~{::title})}">
    <title
            th:text="${setup.selectedUser != null ? setup.selectedUser.getFirstname() : ''}+' '+${setup.selectedUser != null ? setup.selectedUser.getLastname() : ''} + ' | Pigeon'"
    ></title>
</head>
<body class="dark_bg">
<link rel="stylesheet" th:href="@{'/css/toastui-editor.min.css'}"/>
<span class="hidden" th:text="${setup.user.email}" id="user"></span>
<span class="hidden" th:text="${setup.area.name()}" id="area"></span>
<span class="hidden" th:text="${setup.selectedUser != null ? setup.selectedUser.email : ''}" id="selectedUser"></span>
<span class="hidden" th:text="${setup.selectedGroup != null ? setup.selectedGroup.id : ''}" id="selectedGroup"></span>
<span class="hidden" th:text="${setup.selectedGroup != null ? setup.selectedGroup.channel : ''}"
      id="selectedChannel"></span>
<div class="vh-100 overflow-hidden d-flex container-fluid">
    <div class="row h-100 w-100 card chat_bg mx-auto">

        <!--   Chat List  Stars   -->
        <div th:replace="~{components/chatList :: chatList(${setup})}"></div>
        <!--    Chat List Ends    -->
        <!-- Chat Area Stars -->
        <div th:replace="~{components/chatArea :: chatArea(${setup})}"></div>
        <!-- Chat Area Ends -->
        <!--    User Profile Stars    -->
        <div th:replace="~{components/chatProfile :: chatProfile(${setup})}"></div>
        <!--    User Profile Ends    -->
    </div>
</div>

<!--Audio Starts-->
<audio th:src="@{'/audio/tone.mp3'}" class="hidden" id="msg-tone"></audio>
<!--Audio Ends-->
<!--Toast Starts-->

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Message</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body">
        </div>
    </div>
</div>

<!--Toast Ends-->

<!--Group Modal Stars -->
<div class="modal fade" id="groupModal" tabindex="-1" aria-labelledby="groupModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header chat_bg">
                <h1 class="modal-title fs-5 text-light d-flex align-items-center" id="groupModalLabel"><img
                        th:src="@{/icons/group.svg}" class="me-1" alt="message"/> Create New Group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body chat_bg">
                <form id="groupForm" th:action="@{'/group/create'}">
                    <div>
                        <label for="name" class="text-light">Name</label>
                        <input type="text" name="name" id="name" class="form-control chat_area_bg" required/>
                    </div>
                    <br/>
                    <div>
                        <button class="btn chat_area_bg ms-1 text-light d-flex justify-content-center align-items-center">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Modal Ends-->

<!-- Send Message Modal Stars -->
<div class="modal fade" id="sendMessageModal" tabindex="-1" aria-labelledby="sendMessageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header chat_bg">
                <h1 class="modal-title fs-5 text-light d-flex align-items-center" id="sendMessageModalLabel"><img
                        th:src="@{/icons/message.svg}" class="me-1" alt="message"/> Send Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body chat_bg">
                <form id="chatFormWithFile">
                    <p class="text-light my-2">Message</p>
                    <div id="editor"></div>
                    <br/>
                    <div>
                        <label for="file" class="text-light">File <small
                                class="text-light">(.svg,.png,.jpg,.jpeg) Maximum 2MB</small></label>
                        <input type="file" name="file" id="file" class="form-control chat_area_bg"
                               accept=".svg,.png,.jpg,.jpeg"/>
                    </div>
                    <br/>
                    <div>
                        <button class="btn chat_area_bg ms-1 text-light d-flex justify-content-center align-items-center">
                            <img th:src="@{/icons/send.svg}" alt="send" width="20" height="20"/>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer chat_bg">
                <button type="button" class="btn chat_area_bg" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Send Message Modal Ends-->

<!-- Update Group Modal Stars -->
<div class="modal fade" id="updateGroupModal" tabindex="-1" aria-labelledby="updateGroupModalLabel"
     aria-hidden="true" th:if="${setup.selectedGroup != null}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header chat_bg">
                <h1 class="modal-title fs-5 text-light d-flex align-items-center" id="updateGroupModalLabel"><img
                        th:src="@{/icons/message.svg}" class="me-1" alt="message"/> Send Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body chat_bg">
                <form th:action="@{'/group/update'}" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="groupId" th:value="${setup.selectedGroup.id}">
                    <div>
                        <label for="groupName" class="text-light">Name</label>
                        <input type="text" name="name" id="groupName" class="form-control chat_area_bg"/>
                    </div>
                    <br/>
                    <div>
                        <label for="groupFile" class="text-light">File <small
                                class="text-light">(.svg,.png,.jpg,.jpeg) Maximum 2MB</small></label>
                        <input type="file" name="file" id="groupFile" class="form-control chat_area_bg"
                               accept=".svg,.png,.jpg,.jpeg"/>
                    </div>
                    <br/>
                    <div>
                        <button class="btn chat_area_bg ms-1 text-light d-flex justify-content-center align-items-center">
                            <img th:src="@{/icons/send.svg}" alt="send" width="20" height="20"/>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer chat_bg">
                <button type="button" class="btn chat_area_bg" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Update Group Modal Ends-->

<!--Image Modal Stars-->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-body p-0 d-flex">
                <img src="" id="modalImage" class="img-fluid w-100 me-1" style="max-height: 90vh; object-fit: contain;"
                     alt="Preview"/>
                <div>
                    <a href="" download="" id="message_image_download" class="btn m-2">
                        <img th:src="@{'/icons/download.svg'}" alt="download" width="40px" height="30px"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Image Modal Ends-->

<!-- Remove Member Toast Starts -->
<div aria-live="polite" aria-atomic="true" class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
    <div th:if="${isGroupAction}" class="toast show align-items-center text-white bg-primary border-0"
         role="alert" id="groupActionToast">
        <div class="d-flex">
            <div class="toast-body" th:text="${groupActionMessage}">You have a new message</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>

<!-- Remove Member Toast Ends -->

<!--Add User Canvas Starts-->
<div class="offcanvas offcanvas-start chat_bg" tabindex="-1" id="addUserCanvas" aria-labelledby="addUserCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="addUserCanvasLabel">
            Add Member
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action list-group-item-light d-flex connection_wrapper chat_area_bg my-1"
                th:each="user:${setup.getConnections()}"
                th:attr="data-user=${user.id}"
            >
                <img th:src="@{|/picture/user/${user.picture}|}"
                     alt="user" class="icon-md me-2"/>
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex flex-column">
                        <h5>
                            <span th:text="${user.firstname}"></span>&nbsp;
                            <span th:text="${user.lastname}"></span>
                        </h5>
                        <small th:text="${user.email}"></small>
                    </div>
                    <a
                            th:href="@{'/group/add/'+${setup.selectedGroup.id}+'/'+${user.id}}"
                            class="btn chat_bg d-flex align-items-center"
                            th:if="${setup.area.name().equals('GROUP')
                            && (setup.userMembershipInSelectedGroup.role.name().equals('OWNER') ||
                                             setup.userMembershipInSelectedGroup.role.name().equals('ADMIN'))}"
                    ><img th:src="@{'/icons/person-add.svg'}" alt="plus member" class="me-1"/> Add</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--Add User Canvas Ends-->

<!-- Mic Modal Starts -->
<div class="modal fade" id="speechModal" tabindex="-1" aria-labelledby="speechModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center chat_bg">
            <div class="modal-body">
                <img src="/icons/mic.svg" alt="mic" style="width: 48px; height: 48px;">
                <h5 class="mt-3">Listening...</h5>
                <button type="button" class="btn chat_area_bg mt-4" data-bs-dismiss="modal" onclick="stopRecognition()">
                    Finish
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Mic Modal Ends -->

</body>
<script th:src="@{/js/sockjs.min.js}"></script>
<script th:src="@{/js/stomp.min.js}"></script>
<script th:src="@{/js/mic.js}" defer></script>
<script th:src="@{/js/emoji-button.js}" defer></script>
<script th:src="@{/js/toastui-editor-all.min.js}" defer></script>
<script th:src="@{/js/chat.js}" defer></script>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const toastEl = document.querySelector('#groupActionToast');
        if (toastEl) {
            const toast = new bootstrap.Toast(toastEl, {delay: 5000});
            toast.show();
        }
    });
</script>
</html>