<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title})}" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <title>Chat Page</title>
</head>
<body class="dark_bg">
<span class="hidden" th:text="${user}" id="user"></span>
<span class="hidden" th:text="${toUser}" id="toUser"></span>
<div class="vh-100 overflow-hidden d-flex p-2 container-fluid">
    <div class="row h-100 w-100 card chat_bg">

        <!--   Chat List     -->
        <div class="col-md-3 h-100 overflow-auto p-3">
            <!--     Nav       -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary chat_bg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="bi bi-list fs-4 text-white"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item d-flex align-items-center" href="#">
                                        <img th:src="@{/picture/user/{pic}(pic=${#authentication.principal.picture})}"
                                             alt="logged in user" class="icon-sm"/>
                                        <span th:text="${#authentication.principal.lastName}" class="ms-2"></span>
                                    </a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/user/connections_page}">
                                            <i class="bi bi-person-check"></i> Connections
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/user/sent_connections_page}">
                                            <i class="bi bi-person-add"></i> Sent Request
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/user/received_connections_page}">
                                            <i class="bi bi-person-add"></i> Received Request
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/notification/page}">
                                            <i class="bi bi-bell"></i> Notifications (<span
                                                th:text="${setup.notifications}"></span>)
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <form th:action="@{/logout}" method="post">
                                                <input type="hidden" th:name="${_csrf.parameterName}"
                                                       th:value="${_csrf.token}"/>
                                                <button type="submit" class="nav-link"
                                                        aria-current="page">
                                                    <i class="bi bi-box-arrow-left"></i>
                                                    Logout
                                                </button>
                                            </form>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning fs-4">Pigeon</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--    Nav Ends        -->

            <form id="search_user" class="d-flex justify-content-between align-items-center"
                  th:action="@{/user/search}">
                <input type="search" class="form-control chat_bg" name="text" placeholder="Search User"/>
                <button class="btn chat_area_bg ms-2"><i class="bi bi-search me-1"></i></button>
            </form>

            <hr/>
            <!--    List        -->
            <div id="chat_list" class="overflow-auto">
                <ul class="list-group w-100 list-group-flush" id="chatList">
                    <li th:each="connection:${setup.connections}" class="list-group-item"
                        th:classappend="${setup.selectedUser.id.equals(connection.id) ? 'chat_area_bg' : 'chat_bg'}">
                        <a th:href="@{'/chat?toUser='+${connection.id}}"
                           class="d-flex align-items-center text-light text-decoration-none">
                            <img th:src="@{/picture/user/{pic}(pic=${connection.picture})}"
                                 th:alt="${connection.lastname}"
                                 class="icon-md"/>&nbsp;
                            <span class="ms-1" th:text="${connection.firstname}"></span>&nbsp;
                            <span class="ms-1" th:text="${connection.lastname}"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--     List Ends       -->
        </div>

        <!--    Chat List Ends    -->
        <div class="col-md-9 h-100 overflow-auto d-flex flex-column">
            <div class="d-flex align-items-center p-2 border-left-1">
                <img th:src="@{/picture/user/{pic}(pic=${setup.selectedUser.picture})}"
                     th:alt="${setup.selectedUser.lastname}"
                     class="icon-md"/>&nbsp;
                <span class="ms-1 fs-3" th:text="${setup.selectedUser.firstname}"></span>&nbsp;
                <span class="ms-1 fs-3" th:text="${setup.selectedUser.lastname}"></span>
            </div>
            <!--    Chat Area        -->
            <div class="flex-grow-1 p-3 chat_area_bg overflow-auto">
                <div class="my-1 d-flex" th:each="chat:${setup.initialChat}">
                    <i class="bi bi-person-circle fs-4"></i>
                    <div class="ms-1 d-flex flex-column chat">
                        <div>
                            <span class="fw-bold chat_area_color fs-5" th:text="${chat.user.lastname}"></span>&nbsp;|&nbsp;
                            <small th:text="${#temporals.format(chat.sendTime, 'yyyy-MM-dd HH:mm:ss')}"
                                   class="text-muted"></small>
                        </div>
                        <span class="text-white" th:text="${chat.message}"></span>
                    </div>
                </div>
            </div>
            <!--    Chat Area Ends        -->
            <div class="p-3 border-left-1">
                <form action="#" class="d-flex">
                    <input type="text" class="form-control chat_bg" placeholder="message" name="message" id="message"/>
                    <button class="btn chat_area_bg ms-1 text-light">
                        <i class="bi bi-send"></i>
                    </button>
                </form>
            </div>
        </div>
        <!--    Chat board ends    -->
    </div>
</div>

<!--Toast Starts-->

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Connection</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body">

        </div>
    </div>
</div>

<!--Toast Ends-->

</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        // Establish SSE connection
        const eventSource = new EventSource('/notification/subscribe'); // Call the API first

        eventSource.addEventListener("connection-request-sent", (event) => {
            console.log("Received SSE event:", event);

            // Get toast elements
            const toastLiveExample = document.getElementById('liveToast');
            const toastBody = document.getElementById("toast-body");

            // Initialize Bootstrap toast instance
            const toastBootstrap = new bootstrap.Toast(toastLiveExample);

            // Set the message inside the toast body
            toastBody.textContent = event.data;

            // Show the toast
            toastBootstrap.show();
        });

        eventSource.onerror = (error) => {
            console.error("SSE Error:", error);
            eventSource.close();
        };
    });
</script>

</html>