<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head(~{::title})}" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <title>Connections Page</title>
</head>
<body class="bg-light">
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 mx card card-body p-3">
            <div class="my-3">
                <a th:href="@{/chat}" class="btn btn-warning">Back To Chat</a>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action list-group-item-light d-flex connection_wrapper"
                    th:each="user:${result.data}"
                    th:attr="data-user=${user.id}"
                >
                    <img th:src="@{|/picture/user/${user.picture}|}"
                         alt="user" class="icon-md me-2"/>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="d-flex flex-column">
                            <h5>
                                <span th:text="${user.firstname}"></span>&nbsp;
                                <span th:text="${user.lastname}"></span>
                            </h5>
                            <small th:text="${user.email}" class="text-muted"></small>
                        </div>
                        <form class="removeConnectionForm">
                            <input type="hidden" th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}" class="csrfField"/>
                            <input type="hidden" name="userId" th:value="${user.id}" class="userId"/>
                            <button type="submit" class="btn btn-warning">
                                Remove
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Toast Starts-->

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Connection</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body">

        </div>
    </div>
</div>

<!--Toast Ends-->
</body>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".removeConnectionForm").forEach(form => {
            form.onsubmit = async (e) => {
                e.preventDefault();
                let csrfToken = form.querySelector(".csrfField").value;
                let id = form.querySelector(".userId").value;

                let request = await fetch(`/user/remove-connection?toUser=${id}`, {
                    headers: {
                        'X-CSRF-TOKEN': csrfToken
                    }
                });

                if (request.ok) {
                    const connectionWrapper = document.querySelector(`.connection_wrapper[data-user="${id}"]`);
                    connectionWrapper.remove();
                }

                // Show notification on toast
                let response = await request.json();
                let toastBody = document.getElementById("toast-body");
                toastBody.innerText = response.message;
                let toastLiveExample = document.getElementById('liveToast');
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
                toastBootstrap.show();
            };
        });
    });
</script>


</html>