<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Home Page</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main class="chat_bg p-2">
    <section class="container">
        <div class="row">
            <div class="col-md-6 mt-4 pt-5">
                <h1 class="chat_area_color my-2 fw-bold">Pigeon</h1>
                <p class="lead">
                    Introducing
                    Pigeon
                    – a modern chat app designed to make communication seamless and enjoyable! With both one-on-one
                    messaging and vibrant group chat features,
                    Pigeon
                    lets you stay connected with friends, family, and colleagues effortlessly.
                    Enjoy smooth conversations with real-time messaging, media sharing, and customizable chat settings
                    to personalize your experience. Whether you're catching up privately or joining in group
                    discussions,
                    Pigeon
                    Pigeon brings people together in a fast, reliable, and secure way. Dive into a new level of
                    communication where every conversation feels closer.
                </p>
                <a class="btn chat_area_bg" th:href="@{'/login_page'}" sec:authorize="!isAuthenticated()">Let's
                    Begin</a>
                <a class="btn chat_area_bg" th:href="@{'/chat'}" sec:authorize="isAuthenticated()">Start Chatting</a>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <img alt="hero" th:src="@{'/images/chating.png'}" class="img-fluid" width="350" height="320"/>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-6 d-flex justify-content-start align-items-center">
                <img alt="hero" th:src="@{'/images/group.png'}" class="img-fluid" width="350" height="320"/>
            </div>
            <div class="col-md-6 pt-5">
                <h1 class="chat_area_color my-2 fw-bold">Group Chatting</h1>
                <p class="lead">
                    Group chat in
                    Pigeon
                    provides a seamless way for users to connect and communicate with multiple people at once. This
                    feature allows users to create and join groups, share messages, images, and files, and engage in
                    real-time conversations. With an intuitive interface designed for ease of use, group chat supports
                    personalized notifications, message reactions, and typing indicators, making interactions lively and
                    engaging.
                    Additionally,
                    Pigeon
                    emphasizes security and privacy, ensuring that group messages are encrypted and accessible only to
                    authorized members, creating a safe and collaborative digital space for friends, family, and
                    colleagues.
                </p>
            </div>
        </div>
    </section>
</main>
<footer class="chat_area_bg m-0">
    <div class="container">
        <div class="row p-2">
            <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
                <img th:src="@{'/images/carrier-pigeon.png'}" alt="logo" width="60" height="60" class="img-fluid me-2"/>
                <div>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Privacy
                            Policy</a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Terms of
                            Service</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Contact Us</a>
                        </li>
                    </ul>
                    <p class="text-light">&copy; 2025 Pigeon. All rights reserved.</p>
                </div>
            </div>
            <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
                <div>
                    <a href="https://x.com/SadiulHakim" target="_" class="text-white mx-2"><img
                            th:src="@{/icons/facebook.svg}" alt="facebook"/></a>
                    <a href="https://x.com/SadiulHakim" target="_" class="text-white mx-2"><img
                            th:src="@{/icons/twitter-x.svg}" alt="x"/></a>
                    <a href="#" class="text-white mx-2"><img th:src="@{/icons/instagram.svg}" alt="instagram"/></a>
                    <a href="https://www.linkedin.com/in/sadiul-hakim-709387233/" target="_"
                       class="text-white mx-2"><img th:src="@{/icons/linkedin.svg}" alt="linkedin"/></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>