<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Home Page</title>
</head>
<body>
<nav th:replace="~{fragments/unauthorizedNavbar :: unauthorizedNavbar}"></nav>
<main class="bg-white">
    <section class="container">
        <div class="row">
            <div class="col-md-6 mt-4 pt-5">
                <h1 class="text-warning my-2">Pigeon</h1>
                <p class="lead">
                    Introducing
                    <mark>Pigeon</mark>
                    – a modern chat app designed to make communication seamless and enjoyable! With both one-on-one
                    messaging and vibrant group chat features,
                    <mark>Pigeon</mark>
                    lets you stay connected with friends, family, and colleagues effortlessly.
                    Enjoy smooth conversations with real-time messaging, media sharing, and customizable chat settings
                    to personalize your experience. Whether you're catching up privately or joining in group
                    discussions,
                    <mark>Pigeon</mark>
                    Pigeon brings people together in a fast, reliable, and secure way. Dive into a new level of
                    communication where every conversation feels closer.
                </p>
                <a class="btn btn-warning" th:href="@{'/login'}">Let's Begin</a>
            </div>
            <div class="col-md-6">
                <img alt="hero" th:src="@{'/images/Chatting.png'}" class="img-fluid" width="100%"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img alt="hero" th:src="@{'/images/group_chatting.png'}" class="img-fluid" width="100%"/>
            </div>
            <div class="col-md-6 pt-5">
                <h1 class="text-warning my-2">Group Chatting</h1>
                <p class="lead">
                    Group chat in
                    <mark>Pigeon</mark>
                    provides a seamless way for users to connect and communicate with multiple people at once. This
                    feature allows users to create and join groups, share messages, images, and files, and engage in
                    real-time conversations. With an intuitive interface designed for ease of use, group chat supports
                    personalized notifications, message reactions, and typing indicators, making interactions lively and
                    engaging.
                    Additionally,
                    <mark>Pigeon</mark>
                    emphasizes security and privacy, ensuring that group messages are encrypted and accessible only to
                    authorized members, creating a safe and collaborative digital space for friends, family, and
                    colleagues.
                </p>
            </div>
        </div>
    </section>
</main>
<footer class="bg-dark">
    <div class="container">
        <div class="row p-2">
            <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
                <img th:src="@{'/images/carrier-pigeon.png'}" alt="logo" width="60" height="60" class="img-fluid me-2"/>
                <div>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Privacy
                            Policy</a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Terms of
                            Service</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Contact Us</a>
                        </li>
                    </ul>
                    <p class="text-light">&copy; 2024 Pigeon. All rights reserved.</p>
                </div>
            </div>
            <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
                <div>
                    <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-white mx-2"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-white mx-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-white mx-2"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>