<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Profile</title>
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card p-3">
                <div class="my-3">
                    <a th:href="@{/chat}" class="btn btn-warning">Go Back To Chat</a>
                </div>
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img th:src="@{'/picture/user/'+${user.picture}}" class="icon-lg img-fluid my-2"
                             th:alt="${user.lastname}"/>
                        <form th:action="@{/user/change_picture}" class="d-flex justify-content-between w-100"
                              method="post" enctype="multipart/form-data">
                            <input type="hidden" name="userId" th:value="${user.id}">
                            <input type="file" name="photo" class="form-control" accept=".png,.svg,.jpg"/>
                            <input type="submit" value="Change Picture" class="btn btn-warning ms-2">
                        </form>
                    </div>
                </div>
                <hr/>
                <form th:action="@{/user/update_profile}" th:object="${user}" method="post">
                    <input type="hidden" name="id" th:value="*{id}"/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div>
                        <label for="firstName"> First Name</label>
                        <input type="text" placeholder="First Name" id="firstName" class="form-control" name="firstName"
                               th:field="*{firstname}"/>
                    </div>
                    <br/>
                    <div>
                        <label for="lastName">Last Name</label>
                        <input type="text" placeholder="Last Name" id="lastName" class="form-control" name="lastName"
                               th:field="*{lastname}"/>
                    </div>
                    <br/>
                    <div>
                        <label for="textColor">Text Color</label>
                        <input type="color" name="textColor" id="textColor" th:field="*{textColor}"/>
                    </div>
                    <br/>
                    <input type="submit" value="Edit Profile" class="btn btn-warning">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>