<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head(~{::title})}" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <title>Chat Page</title>
</head>
<body class="bg-light">

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 mx card card-body p-3">
            <div class="my-3">
                <a th:href="@{/chat}" class="btn btn-warning">Back To Chat</a>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action list-group-item-light d-flex"
                    th:each="req:${requests}"
                >
                    <img th:src="@{|/picture/user/${req.user.picture}|}"
                         alt="user" class="icon-md me-2"/>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="d-flex flex-column">
                            <h5>
                                <span th:text="${req.user.firstname}"></span>&nbsp;
                                <span th:text="${req.user.lastname}"></span>
                            </h5>
                            <small th:text="${req.user.email}" class="text-muted"></small>
                        </div>
                        <form>
                            <input type="hidden" th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}" id="csrfField"/>
                            <input type="hidden" name="reqId" th:value="${req.id}" id="reqId"/>
                            <button class="btn btn-warning" id="acceptBtn">
                                Accept
                            </button>
                            <button class="btn btn-warning" id="rejectBtn">
                                Reject
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Toast Starts-->

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Connection</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body">

        </div>
    </div>
</div>

<!--Toast Ends-->

</body>

<script>
    const rejectBtn = document.getElementById("rejectBtn");
    const acceptBtn = document.getElementById("acceptBtn");
    const csrfField = document.getElementById("csrfField");
    const toastLiveExample = document.getElementById('liveToast')
    const toastBody = document.getElementById("toast-body");
    const reqId = document.getElementById("reqId");

    acceptBtn.onclick = async (e) => {
        e.preventDefault();
        let csrfToken = csrfField.value;
        let id = reqId.value;

        let request = await fetch(`/user/accept-connect-request?requestId=${id}`, {
            headers: {
                'X-CSRF-TOKEN': csrfToken
            }
        });

        let response = await request.json();
        toastBody.innerText = response.message;
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastBootstrap.show();
    }

    rejectBtn.onclick = async (e) => {
        e.preventDefault();
        let csrfToken = csrfField.value;
        let id = reqId.value;

        let request = await fetch(`/user/cancel-connect-request?requestId=${id}`, {
            headers: {
                'X-CSRF-TOKEN': csrfToken
            }
        });

        let response = await request.json();
        toastBody.innerText = response.message;
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastBootstrap.show();
    }

</script>
</html>